! terminal colors ------------------------------------------------------------

! tangoesque scheme
*background: #111111
*foreground: #babdb6
! Black (not tango) + DarkGrey
*color0:  #000000
*color8:  #555753
! DarkRed + Red
*color1:  #ff6565
*color9:  #ff8d8d
! DarkGreen + Green
*color2:  #93d44f
*color10: #c8e7a8
! DarkYellow + Yellow
*color3:  #eab93d
*color11: #ffc123
! DarkBlue + Blue
*color4:  #204a87
*color12: #3465a4
! DarkMagenta + Magenta
*color5:  #ce5c00
*color13: #f57900
!DarkCyan + Cyan (both not tango)
*color6:  #89b6e2
*color14: #46a4ff
! LightGrey + White
*color7:  #cccccc
*color15: #ffffff

! Xcursor --------------------------------------------------------------------

Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size:  22

! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.autohint: 0

! special
*.foreground:   #93a1a1
*.background:   #002b36
*.cursorColor:  #93a1a1

! black
*.color0:       #002b36
*.color8:       #657b83

! red
*.color1:       #dc322f
*.color9:       #dc322f

! green
*.color2:       #859900
*.color10:      #859900

! yellow
*.color3:       #b58900
*.color11:      #b58900

! blue
*.color4:       #268bd2
*.color12:      #268bd2

! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #2aa198

! white
*.color7:       #93a1a1
*.color15:      #fdf6e3


URxvt.letterSpace:          0
! Set terminal padding
URxvt.internalBorder:       0

URxvt*.depth: 32

URxvt.scrollBar:            false
URxvt.foreground:           white
URxvt.secondaryScroll:      true
URxvt.urlLauncher:          chromium
URxvt.matcher.button:       1
URxvt.font:                 xft:Hack:size=10
URxvt.tabbed.secondaryScroll: true
!URxvt*inheritPixmap:        true
URxvt.perl-ext-common:      default,matcher
URxvt.iso14755:		    false

URxvt.background: black
URxvt.transparent: true
URxvt.shading: 50

*.saveLines: 8192
*.internalBorder: 0
*.cursorUnderline: true
*.cursorBlink: true
*.dynamicColors:on


! Rofi config file
rofi.lines: 12
rofi.font: Hack 12

